{% extends "bootstrap/base.html" %}
{% block title %}Home page{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
 <div class="container">
  <br/>
  <form action="/" method="post">
      <h3>Enter information of xblock you want to get screenshot</h3>
      <label form="url">EDX Url:</label>
      <input type="text" name="url" id="url" value="" size="100"/><br/>
      <p>i.e http://localhost:8000/api/xblock/v0/xblock/i4x://edX/DemoX/html/030e35c4756a4ddc8d40b95fbbfff4d4</p>
      <br/><br/>
      <label for="user_name">User name:</label>
      <input type="text" name="user_name" id="user_name" size="100">
      <br><br/>
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" size="100">
      <br/><br/>

      <input type="submit" name="submit" value="Get screenshot">
  </form>
  <br/><br/>
  {% if output_file %}
    <img src="{{ url_for('static', filename = output_file) }}"/>
  {% endif %}
 </div>
 {% endblock %}